main {
    padding: 0 64px;
}

.Title {
    text-align: center;
    color: #FFF8F8;
    font-weight: 600;
    font-size: 25px;
    text-transform: uppercase;
}

form {
    display: flex;
    flex-direction: row;
    gap: 64px;
}

form > div {
    width: 50%;
}