body{
    margin: 0;
    padding: 0;
    background: linear-gradient(136.02deg, #7CA5E3 9.86%, #195DC3 87.57%),
radial-gradient(54.92% 54.92% at 38.54% 80.1%, rgba(178, 118, 255, 0.79) 0%, rgba(138, 177, 235, 0) 100%);

    background-repeat: no-repeat;
    min-height: 100%;
    background-size: cover;
    min-height: 100vh;
}


/* HEADER */

.navigation{
    display:flex;
    align-items: center;
    margin: 0;
    margin-top:40px;
    margin-left: 130px;
    margin-right: 130px;
    margin-bottom: 20px;
    width: auto;

}

.logo{
    margin-left: 10px;
    display:block;

}

.navigation-items{
    width: 600px;
    display: flex;
    gap: 30px;
    list-style: none;
    margin-left: 77px;
}

.search{
    margin: 0;
}

.input{
    width: 190px ;
    height: 27px;
    background-color: #8AB1EB;
    border-radius: 10px;
    border: none;
}

.link{
    margin: 0;
    margin-left: 30px;
    width: 100px;
    text-align: center;
}

.link-text{
    color: #FFFFFF;
}

a{
    text-decoration:none;
}

.profile-link{
    width: 227px;
    height: 60px;
    background: linear-gradient(105.22deg, #B275FF 21.28%, #7B37D2 77.65%);
    border-radius: 189px;
    margin: 0;   
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-left: auto;
}

.img-profile-link{
    margin: 0;
    margin-left: 12px;
}

.profile-link-text{
    margin: 0;
    margin-left: 12px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 16px;
    line-height: 19.5px;
}

/* SPECIAL*/ 
.two-sections{
    display: flex;
    gap: 45px;
}

/* SECTION 1 */

.right-section{
    width: 30%;
    height: 10%;
    margin: 0;
    margin-left: 130px;
    background-color: #95B8EE;
    border-radius: 28px;
}

.right-section-navigation{
    border-bottom: 1px solid #5E90DA;
    padding:0;
    height: 300px;
    list-style: none;
    text-align: left;
}

.right-section-items{

    height: 30px;
    margin: 0;
    margin-top: 20px;
    text-align: left;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    align-items: center;
}

.decor-element{
    padding-top: 5px;
    padding-left: 10px;
}

.right-section-enter{
    margin: 0;
    margin-left: 20px;
    
    color: #F42727 ;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}


/* SECTION 2 */

.main-information-section{
    margin: 0;
    margin-right: 137px;
    background-color: #F3F3F3;
    width: 70%;
    height: 575px;
    border-radius: 28px;

}
.user{
    width: 40%;
    display: flex;
    padding-left:42px ;
    padding-top: 24px;

}
.user-name{
    margin-left: 22px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    align-items: center;
}

.information-items{
    height: 325px;
    border-top: 2px solid #7CA5E3;
    list-style: none;
}

.information-item-title{
    width: 274px;
    height: 68px;
}

.input-information{
    margin-top: -15px;
    width: 270px;
    height: 37px;
    border-radius: 11px;
    background-color: #D9D9D9;
    border: none;
}

.information-item-description{
    width: 270px;
    height: 130px;
}

.input-information-ds{
    margin-top: -15px;
    width: 275px;
    height: 70%;
    background-color: #D9D9D9;
    border-radius: 11px;
    border: none;
    outline: none;
    resize: none;
}

.information-item-contacts{
    width: 306px;
    height: 193px;
    margin-left:400px ;
    margin-top: -320px;
}

.contact{
    display: flex;
    margin-bottom: 26px;
}

.contact-img{
    margin-top: 10px;
}
.input-information-contact{
    background-color: #D9D9D9;
    margin-left: 3px;
    width: 272px;
    height: 37px;
    border-radius: 11px;
    border: none;
}

.information-item-change{
    display: flex;
    width: 30%;
    height: 50%;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 18px;
    justify-content:center; 
}

.information-text{
    color: #000000;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    align-items: center;
}

button{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    background: linear-gradient(105.22deg, #B275FF 21.28%, #7B37D2 77.65%);
    border: none;
    border-radius: 225px;
    width: 20%;
    height: 8%;
}

/* SECTION 3 */

.my-works-section{
    margin: 0;
    margin-top:40px;
    margin-left: 130px;
    margin-right: 135px;
}


.all-my-works{
    display: flex;
    column-gap: 130px;
    row-gap: 25px;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;

}

.my-work-item{
    width: 44%;
    height: 40%;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    list-style: none;
    border-radius: 21px;
}

.title-of-my-work{
    width: 40%;
    height: 40%;
    margin-top: 6px;
    padding-left:25px;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    color: #000;
}

.img-of-work{
    padding-left:25px;
    margin-right: 60px;
    width:90%;
    height: 10%;
}

.description{
    padding-left:25px;
    width: 60%;
    height: 80%;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
}

.date{
    padding-left:25px;
    width: 40%;
    height: 40%;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}





/* PAGE WITH ALL WORKS */

.menu-search{
    margin: 0;
    padding: 0;
    width:40%;
    display: flex;
    
    list-style: none;
    color:rgba(255, 255, 255, 1);
    background-color:#F3F3F3;
    border-radius: 30px;
    background: radial-gradient(50% 50% at 50% 50%, rgba(178, 118, 255, 0.68) 0%, rgba(143, 78, 227, 0.68) 100%);
}

.search-item { 
    width: 40%;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    margin-right: auto;
}

.sp{
    border-right: 1px solid rgba(255, 255, 255, 1);
    border-left: 1px solid rgba(255, 255, 255, 1);
}

.user-info{
    padding-left:40px;
    margin: 0;
    margin-top: 22px;
    display: flex;
    gap: 16px;
    border-bottom: 1px solid rgba(138, 177, 235, 1)
}

.name-user{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: rgba(0, 0, 0, 1);
}

/* PAGE OF REGISTRATION AND AUTORIZATION */

.list-entry{
    margin: 0;
    padding: 0;
    margin-top: 150px;

    height:400px;
    width: 50%;

    background: rgba(255, 255, 255, 1);
    border-radius: 31px;
}

.list-entry-name{
    color: rgba(65, 118, 210, 1);

    padding-top: 40px;

    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
}

.list-entry-input{
    width: 70%;
    height: 30px;
    margin: auto;
    margin-top: 30px;
    background: rgba(211, 224, 245, 1);
    border-radius: 13px;
    border:none;
    padding-left: 15px;
}

.list-entry-next{
    width: 50%;
    height: 40px;
    margin-top: 40px;
    border-radius: 225px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    
    background: linear-gradient(103.69deg, #E2A4FF 16.17%, #9450B4 89.17%);

    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;

    color:#FFFFFF;

}

.list-entry-text{
    margin-top: 15px;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 300;
    line-height: 15.85px;
    text-align: center;

}